@font-face {
	font-family: 'miso';
	src: font-url('../fonts/miso-bold-webfont.eot');
	src: url('../fonts/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/miso-bold-webfont.woff') format('woff'),
	url('../fonts/miso-bold-webfont.ttf') format('truetype'),
	url('../fonts/miso-bold-webfont.svg#Miso') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'MichaelmasRegular';
    src: font-url('../fonts/michv2-webfont.eot');
    src: url('../fonts/michv2-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/michv2-webfont.woff') format('woff'),
        url('../fonts/michv2-webfont.ttf') format('truetype'),
        url('../fonts/michv2-webfont.svg#MichaelmasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
}

body {
    /*background: url("../images/fondo.png") repeat-x;*/
	height: 100%;
	
	background: #ffe8f3; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZThmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffe8f3 0%, #fcfcfc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe8f3), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe8f3 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe8f3 0%,#fcfcfc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe8f3 0%,#fcfcfc 100%); /* IE10+ */
	background: linear-gradient(top,  #ffe8f3 0%,#fcfcfc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8f3', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-8 */
	
	background-attachment: fixed;
	
    font-family: Georgia;
	font-size: 0.95em;
	line-height: 1.4em;
}

div#pagina {
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    font-family: 'MichaelmasRegular';
    color: #e62;
}

h2 {
    font-size: 2em;
    font-family: 'MichaelmasRegular';
}

header {
	position: absolute;
	z-index: 99;
	top: 5px;
	left: 460px;
	overflow: visible;
	/*
    margin-left: 10px;
	margin-top: 5px;
    float: left;*/
    width: 220px;
    height: 116px;
    background: url("../images/logo.png") no-repeat;
}

#sidebar
{
    padding: 15px;
	background-color: #fff;
	border: 3px solid #fcc;
	border-radius: 10px;
}

nav {
    float: right;
    margin-top: 80px;
    margin-bottom: -20px;
    padding: 0;
}

nav ul li a {
    color: #552332;
    font-size: 1.4em;
    padding: 6px 12px;
    font-family: 'miso', Arial, sans-serif;
	text-decoration: none
}

nav a:hover {
    color: #ff8754;
    background-color: #553223;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

div#content {
    padding: 15px 5px 5px 5px;
    border: 2px solid #643;
    background: #fff;
    border-radius: 10px;
    color: #333;
	box-shadow: 3px 3px 5px #333;
}

footer {
    margin: 10px 0;
}

footer .derechos {
    text-align: center;
}

div#productos .producto .presentacion .nombre {
    display: inline;
}

div#productos .producto .presentacion .precio {
    display: inline;
}

#fs_contacto {
    width: 480px;
    margin: auto;
}

#fs_contacto label {
    width: 120px;
    float: left;
}

#fs_contacto .botones {
    float: right;
}

div#redes_sociales {
    text-align: center;
    width: 480px;
    margin: auto;
    padding-top: 30px;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

#presentacion-form label {
	width: 80px;
	float: left;
}

#presentacion-form .row {
	margin-bottom: 10px;
}

#presentacion-form .buttons {
	float: right;
}

ul.lista_productos {
	list-style-type: none;
}

ul.lista_productos li {
	padding: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

ul.lista_productos li:last-of-type {
	border: 0;
}